{# blog/templates/blog/photo_contact_form.html #}

{% extends "blog/base.html" %}

{% block page_title %}Photo Contest Form{% endblock %}

{% block main %}
<h1>Submit a Photo for the Photo Contest</h1>
<p>
  Submit a photo of your favourite day of your favourite trip! Tell us where you were, what you did, and why it was the best day ever.
  Once we have all the submissions, we will pick a winner for a travel gift card!
</p>

<form enctype="multipart/form-data" action="" method="post" novalidate >
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td colspan=2>
        <button type="submit">Submit to Photo Contest!</button>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
